.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 450px;
  margin: 0;
  padding: 0;
  width: 100%; 
}

/* Media query for small screens */
@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    height: auto; /* Allow container to adjust height based on content */
  }
}

.about-us-image {
  background-image: url('./home2.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  background-color: #b19cd9;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  line-height: 1.6;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #b19cd9;
  flex: 1;
}

.about-us h1 {
  margin-top: 5vh;
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.about-us-content {
  text-align: justify;
}
