@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6770D2;
  --ifm-color-primary-dark: #6770D2;
  --ifm-color-primary-darker: #6770D2;
  --ifm-color-primary-darkest: #6770D2;
  --ifm-color-primary-light: #6770D2;
  --ifm-color-primary-lighter: #6770D2;
  --ifm-color-primary-lightest: #6770D2;
  --ifm-code-font-size: 95%;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.member {
  flex: 1 1 calc(25% - 20px); 
  margin: 10px; 
}


.photo {
  overflow: hidden;
}

.navbar__logo > img{
  width: 40px;
  height: 35px;
  object-fit: contain;
}

.navbar {
  padding: 20px 15px 55px 15px;
}

.navbar__title  {
  font-size: 24px;
  padding-left: 5px;
}


[data-theme='light'] body {
  background-color: #F8F9FA !important;
}

.footer {
  padding-bottom: 10px;
}

[data-theme='dark'] .footer {
  background-color: #46106157 !important;
}

.footer__copyright {
  font-weight: 600;
}

[data-theme='dark'] .about-us_src-pages-index-module {
  background-color: #242526 !important;
}

[data-theme='light'] .about-us_src-pages-index-module {
  background-color: #c688df !important;
}

.hero__subtitle , .hero__title {
  color: white;
}

[data-theme='dark'] .slide-image_src-pages-index-module {
  filter: invert(100%);
}

[data-theme="dark"] .about-us-content_src-pages-index-module > button, .about-us-content_src-pages-index-module > a {
  color: white;
}

#mc_embed_signup {
  color: black;
  background-color: #c688df !important;
}

#mce-success-response {
  color: black !important;
}

.col.col--2 {
  display: none !important;
}

article {
  padding: 10px 30px 20px 30px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: -50px !important;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.01);
}

article:first-of-type {
  margin-top: 0px !important;
}

[data-theme='dark'] article {
  background-color: #242526;
}

article > header > h2 > a {
  font-size: 30px;
}

article > div.markdown {
  font-size: 14px;
}

article:has(div.about-us) {
  padding: inherit;
  background-color: inherit;
  border-radius: 0;
  margin-top: inherit;
  box-shadow: none;
}

.member {
  margin-bottom: 30px;
}

.personal {
  padding-top: 15px;
  padding-bottom: 15px;
}

[data-theme='dark'] .personal {
  background-color: #1B1B1D !important;
}

[data-theme='dark'] .socials {
  background-color: #1B1B1D !important;
}

.photo img {
  width: 200px; /* Make the image take the full width of the container */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio while covering the area */
}

.member.lead .photo img {
  width: 400px; /* Make the image take the full width of the container */
  height: 400px; /* Set a fixed height */
  object-fit: cover; /* Make lead member images taller */
}